body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f5f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: #f4f5f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 150px;
    height: auto;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.login-form {
    background-color: white;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    text-align: center;
}

.login-form label {
    display: block;
    font-weight: bold;
}

.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Style for the active page in the navigation */
.active {
    color: rgb(123, 19, 19);
    padding: 5px 10px;
    border-radius: 3px;
}

/* Your existing styles for header, logo, and navigation */

.photo {
    text-align: center;
    margin-top: 20px; /* Adjust the margin to create space below the logo and navigation */
}

.photo img {
    max-width: 100%;
    height: auto;
}


